#head {
    height: 50px;
    background-color:rgb(241, 241, 241); 
}

#headicon {
    font-size: 1.8em;
    margin: 10px 0 0 20px;
}

h2, h3 {
    color: #009a49;
    margin-top:10px;
}

h4 {
    color:#00a9e0;
}

a {
    text-decoration: none;
}

.subtitle {
    font-size: .8em;
    font-style: oblique;
}

.pname {
    color:#00a9e0;
}

#stag {
    font-size:1.5em;
    color:#00a9e0;
    padding-left: 10px;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding: 10px 20px 20px 20px;
}

.glyphicon {
    color:#009a49;
    font-size: 2.5em;
}

.btn-primary {
    background-color:#009a49;
}

#rating .glyphicon {
    font-size: 1.5em;
}

.btn-group .btn {
    width: 140px;
}