@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Air Products - 4S</title>
    <link rel="stylesheet" type="text/css" href="~/Content/dist/css/app.min.css" />

    <script type="text/javascript" src="~/Content/dist/js/app.min.js"></script>
    <script type="text/javascript">
       
    </script>

</head>
<body class="cbp-spmenu-push">
    <div id="head"><span id="headicon" class="glyphicon glyphicon-menu-hamburger pull-left"></span> </div>

    <div ng-app="weChatDemoApp" ng-controller="aboutController" class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="form-group">
                    <h2>MFP - 八一队</h2>
                </div>
            
                <div class="form-group">
                    <ul>
                        <li>Chen,Flora <CHENF2@airproducts.com></li>
                        <li>Hao,Shuwei <HAOS@airproducts.com></li>
                        <li>Wang,Clay <WANGC13@airproducts.com></li>
                        <li>Zhao,Zhongming <ZHAOZ1@airproducts.com></li>
                        <li>Zhu,Rita <ZHUR@airproducts.com></li>
                        <li>Zuo,Sophia <ZUOJ1@airproducts.com></li>
                    </ul>
                </div>

                <div class="form-group">
                    <img src="~/Images/bayi.jpg" />
                </div>

            </div>
        </div>
    </div>
</body>
</html>
