<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to WeChat4AP</h1>
            </hgroup>
            <p>
                You can find all the release notes on this page.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Features</h3>
        <ol class="round">
            <li class="one">
                <h5>v0.1</h5>
                1.	发送消息”st”，“Stock“或者”股票“甚至”gupiao“，大小写不敏感，会返回当前APD股价信息<br/>
                2.	整合了MSDS查询功能，发送公司任意产品的名字，比如”oxygen“，”hele“，” PEP 100 Promoter“，会得到产品具体信息PDF文档。<br/>
                3.  增加了欢迎消息和版本更新信息页面
                4.  整合了ServiceNow查询，暂时关闭该功能
                5.  在管理界面实现了群发功能，群发有一定的时滞
                6.  创建了用户地理位置跟踪地图， 1. 用户share location，2. 发起和订阅号的对话，3. 保持对话窗口开着， 4. 移动位置
                7.  完成测试从菜单获取OPENID
            </li>

            <li class="two">
                <h5>v0.2</h5>
                tbd
            </li>
            <li class="three">
                <h5>tbd</h5>
                tbd
            </li>
        </ol>
    </section>
</div>
